<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <h1>Edit <%= resource_name.to_s.humanize %></h1>
    <hr>
    
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <div class="field">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name%>
      </div>
      <div class="field">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name %>
      </div>
      <div class="field">
      <%= f.label :phone %><br />
      <%= f.text_field :phone %>
      </div>
      <div class="field">
      <%= f.label :cnic %><br />
      <%= f.text_field :cnic%>
      </div>
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: 'form-control'  %>
      

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      </div>
      <div class="form-group">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control'  %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'  %>
      </div>

      <div class="form-group">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off", class: 'form-control'  %>
      </div>

      <div class="form-group">
      <%= f.submit "Update", class: 'btn btn-lg btn-block btn-primary' %>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" "#{@user.otp_module_enabled? ? 'Disable' : 'Enable'}'#two_factor', 
    data: { toggle: :modal, target: '#two_factor' } > Two MFA</button>
  

    </div>
    <% end %>
  </div>
</div>




<!-- The Modal -->
<div class="modal fade" id="myModal">
<% url = @user.otp_module_enabled? ? disable_multi_factor_authentication_user_path(@user) :                                   enable_multi_factor_authentication_user_path(@user) %>
  <%= form_for :multi_factor_authentication, url: url, html: { class: 'form-inline' }  do |f| %>
  <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" data-bs-dismiss="modal">X</button>
    <h4 class="modal-title"><%= @user.otp_module_enabled? ? 'Disable' : 'Enable' %> Two Factor Authentication</h4>
  </div>
  <div class="modal-body">
    <% unless @user.otp_module_enabled? %>
      <% qr = RQRCode::QRCode.new(resource.provisioning_uri, size: 10, level: :h ) %>
      <table class="qr">
        <% qr.modules.each_index do |x| %>
        <tr>
          <% qr.modules.each_index do |y| %>
            <% if qr.qrcode.checked?(x,y) %>
              <td class="black"/>
              <% else %>
              <td class="white"/>
            <% end %>
            <% end %>
          </tr>
        <% end %>
        </table>
      <hr>
    <% end %>
    <div class='form-group'>
      <div class='text-center'>
        <%= f.text_field :otp_code_token, placeholder: 'Verify Token', class: 'form-control input-lg' %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
          <%= f.submit "Update", class: 'btn btn-lg btn-block btn-primary' %>
        </div>
  </div>
    </div>
  <%end%>
</div>





